asgiref
backcall
certifi
chardet
colorama
coreapi
coreschema
decorator
dj-config-url
Django
django-cors-headers
django-summernote
django-templated-mail
djangorestframework
djangorestframework-jsonapi
djangorestframework-jwt
djangorestframework-simplejwt
djoser
drf-yasg
gunicorn
idna
inflection
ipython
ipython-genutils
itypes
jedi
Jinja2
loguru
MarkupSafe
now
openapi-codec
packaging
parso
pexpect
pickleshare
prompt-toolkit
psycopg2
ptyprocess
Pygments
PyJWT
pyparsing
pytz
requests
ruamel.yaml
ruamel.yaml.clib
simplejson
six
sqlparse
traitlets
uritemplate
urllib3
wcwidth
whitenoise
win32-setctime
xlrd
xlwt
xlutils
openpyxl